                /* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap');


                /* Variable CSS */

:root{
    --primary: #EA40A4;
    --business: #3A82EE;
    --personal: var(--primary);
    --light: #EEE;
    --grey: #888;
    --dark: #313154;
    --danger: #ff5b57;

    --shadow: 0  1px 3px rgba(0, 0, 0, 0.1);

    --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --personal-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

input:not([type='radio']):not([type="checkbox"]), button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}


body{
    background-color: var(--light);
    color: var(--dark);
}

section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


h3{
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;

}

h4{
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.greeting .title{
    display: flex;
}

.greeting .title input{
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title,
.greeting .title input{
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

.create-todo input[type="text"]{
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-todo .options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;

} 

.create-todo .options label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"]{
    display: none;
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
}

.personal{
    border-color: var(--personal);
    box-shadow: var(--personal-glow);

}

.bubble::after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    opacity: 0;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.personal::after{
    background-color: var(--personal);
    box-shadow: var(--personal-glow);

}


input:checked ~ .bubble::after{
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo .options label div{
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

.create-todo input[type='submit']{
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: .5rem;
    box-shadow: var(--personal-glow);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.create-todo input[type='submit']:active{
    opacity: .75;
    transform: scale(.9);
}

.todo-list .list{
    margin: 1rem 0;
}

.todo-list .todo-item{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item label{
    display: block;
    margin-right: 1rem;
    cursor: pointer;

}


.todo-item .todo-content{
    flex: 1 1 0%;
}

.todo-item .todo-content input{
    color: var(--dark);
    font-size: 1.125rem;

}

.todo-item .actions{
    display: flex;
    align-items: center;
}

.todo-item .actions button{
    display: block;
    padding: .5rem;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.todo-item .actions button:active{
    opacity: .75;
    transform: scale(.9);
}


.todo-item .actions .edit{
    margin-right: .5rem;
    background-color: var(--primary);
}

.todo-item .actions .delete{
  
    background-color: var(--danger);
}

.todo-item.done .todo-content input{
    text-decoration: line-through;
    color: var(--grey);
}
.btn-signin{
  
    
    text-decoration: none;
    outline: none;
    border: none;
    display: inline-block;
    background: linear-gradient(101deg,
                                hsl(228,66%,53%),
                                hsl(228,66%,47%));
    color: #fff;
    padding: 6px 5.4px;
    border-radius: .5rem;
    font-size: 1.25rem;
    font-weight: 500;
    box-shadow: 0 4px 8px hsla(228,66%,45%, .25);
    cursor: pointer;
   

    
    
}
body{
    transition: .3s;
}
.create-todo-name{
    margin-top: -18px;
}
.header{
    display: flex;
    margin-top: 1rem;
    gap: 30%;
    margin-left: 1rem;
}
.date-time span{
    font-weight: 700;
    
}
.date-time{
    margin-top: 9px;
}